<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header::links"></div>
    <title>Изменить данные</title>
</head>
<body>
<header th:replace="header :: head"></header>
<main class="bground" id="main">
    <div class="row d-flex justify-content-center" style="padding-top: 5%;">
        <div class="profileborder col-4 align-self-center">
            <div class="content">
                <div class="container">
                    <div class="row  d-flex justify-content-center">
                        <div class="col-lg-10">
                            <div class="text-center card-box">
                                <div class="member-card pt-2 pb-2 pl-2 pr-2">
                                    <div class="thumb-lg member-thumb mx-auto">
                                        <img alt="profile-image" class="rounded-circle img-thumbnail"
                                             th:src="@{${'~/media/avatars/avatar' + #authentication.getPrincipal().getId() + '.png'}}">
                                    </div>
                                    <div>
                                        <form class="form-horizontal" enctype="multipart/form-data" role="form"
                                              th:action="@{/user/edit}"
                                              th:method="post"
                                              th:name="updateForm" th:object="${user}">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label class="edit-input" for="avatar"><i aria-hidden="true"
                                                                                              class="fas fa-cloud-upload-alt"></i>
                                                        Изменить аватар</label>
                                                    <div>
                                                        <input class="form-control" id="avatar" name="avatar"
                                                               th:field="*{avatar}"
                                                               type="file">
                                                        <p class="error-message signup-error"
                                                           th:if="${!tooLarge.getMessage().equals('')}"
                                                           th:text="${tooLarge.getMessage()}"></p>
                                                    </div>
                                                    <div class="form-group"
                                                         th:classappend="${#fields.hasErrors('login')}? 'has-error':''">
                                                        <label class=" control-label" for="login">Изменить электронную
                                                            почту</label>
                                                        <div>
                                                            <input class="form-control" id="login" name="login"
                                                                   placeholder="example@email.com"
                                                                   th:autofocus th:field="*{login}"
                                                                   type="text">
                                                            <p class="error-message signup-error"
                                                               th:class="signup-error"
                                                               th:each="error:${#fields.errors('login')}"
                                                               th:text="${error}">Ошибка</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                                                            <label class=" control-label" for="username">Изменить имя
                                                                пользователя
                                                            </label>
                                                            <div>
                                                                <input autocomplete="off" class="form-control"
                                                                       id="username"
                                                                       name="username"
                                                                       placeholder="Имя пользователя" th:autofocus
                                                                       th:field="*{username}"
                                                                       type="text">
                                                                <p class="error-message signup-error"
                                                                   th:class="signup-error"
                                                                   th:each="error:${#fields.errors('username')}"
                                                                   th:text="${error}">Ошибка</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"
                                                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                                        <label class=" control-label" for="oldPassword">Изменить
                                                            пароль</label>
                                                        <div>
                                                            <input class="form-control" id="oldPassword"
                                                                   name="oldPassword"
                                                                   placeholder="Старый пароль" th:field="*{oldPassword}"
                                                                   type="password">
                                                            <p class="error-message signup-error"
                                                               th:class="signup-error"
                                                               th:each="error : ${#fields.errors('oldPassword')}"
                                                               th:text="${error}">Ошибка</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <input class="form-control" id="password" name="password"
                                                                   placeholder="Пароль" th:field="*{password}"
                                                                   type="password">
                                                            <p class="error-message signup-error"
                                                               th:class="signup-error"
                                                               th:each="error : ${#fields.errors('password')}"
                                                               th:text="${error}">Ошибка</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <input class="form-control" id="confirmPassword"
                                                                   name="confirmPassword"
                                                                   placeholder="Повторите пароль"
                                                                   th:field="*{confirmPassword}"
                                                                   type="password">
                                                            <p class="error-message signup-error"
                                                               th:class="signup-error"
                                                               th:each="error : ${#fields.errors('confirmPassword')}"
                                                               th:text="${error}">Ошибка</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p><input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
                                                      type="hidden"/></p>
                                            <div class="regbtn">
                                                <button class="btn btn-success" type="submit">Подтвердить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="footer :: foot"></footer>
</body>
</html>