<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header::links"></div>
    <title>Изменить данные пользователя</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="header :: head"></header>
<main class="bground" id="main">
    <div class="row d-flex justify-content-center" style="padding-top: 5%;">
        <div class="profileborder col-4 align-self-center">
            <div class="content">
                <div class="container">
                    <div class="row  d-flex justify-content-center">
                        <div class="col-lg-10">
                            <div class="text-center card-box">
                                <div class="member-card pt-2 pb-2 pl-2 pr-2">
                                    <div class="thumb-lg member-thumb mx-auto">
                                        <img alt="profile-image" class="rounded-circle img-thumbnail"
                                             th:src="@{${'~/media/avatars/avatar' + userUpdating?.getId() + '.png'}}">
                                    </div>
                                    <div class="control-label"
                                         th:text="'Логин пользователя - ' + ${userUpdating?.getLogin()}"></div>
                                    <div class="control-label"
                                         th:text="'Имя пользователя - ' + ${userUpdating?.getUsername()}"></div>
                                    <div>
                                        <form class="form-horizontal" enctype="multipart/form-data"
                                              role="form"
                                              th:action="@{/adminpanel/edituser/{id}(id=${userUpdating?.getId()})}"
                                              th:method="post"
                                              th:name="updateForm" th:object="${userDto}">
                                            <div class="form-group">
                                                <label class="edit-input" for="avatar"><i aria-hidden="true"
                                                                                          class="fas fa-cloud-upload-alt"></i>Изменить
                                                    аватар пользователя</label>
                                                <div>
                                                    <input class="form-control" id="avatar" name="avatar"
                                                           th:field="*{avatar}"
                                                           type="file">
                                                    <p class="error-message signup-error"
                                                       th:if="${!tooLarge.getMessage().equals('')}"
                                                       th:text="${tooLarge.getMessage()}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group"
                                                         th:classappend="${#fields.hasErrors('login')}? 'has-error':''">
                                                        <label class=" control-label" for="login">Изменить электронную
                                                            почту</label>
                                                        <div>
                                                            <input class="form-control" id="login" name="login"
                                                                   placeholder="example@email.com"
                                                                   th:autofocus th:field="*{login}"
                                                                   type="text">
                                                            <p class="error-message signup-error"
                                                               th:class="signup-error"
                                                               th:each="error:${#fields.errors('login')}"
                                                               th:text="${error}">Ошибка</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-group"
                                                             th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                                                            <label class=" control-label" for="username">Изменить имя
                                                                пользователя
                                                            </label>
                                                            <div class="">
                                                                <input autocomplete="off" class="form-control"
                                                                       id="username"
                                                                       name="username"
                                                                       placeholder="Имя пользователя" th:autofocus
                                                                       th:field="*{username}"
                                                                       type="text">
                                                                <p class="error-message signup-error"
                                                                   th:class="signup-error"
                                                                   th:each="error:${#fields.errors('username')}"
                                                                   th:text="${error}">Ошибка</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label class=" control-label" for="password">Изменить
                                                                    пароль пользователя</label>
                                                                <input class="form-control" id="password"
                                                                       name="password"
                                                                       placeholder="Пароль" th:field="*{password}"
                                                                       type="password">
                                                                <p class="error-message signup-error"
                                                                   th:class="signup-error"
                                                                   th:each="error : ${#fields.errors('password')}"
                                                                   th:text="${error}">Ошибка</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             th:if="${not #lists.contains(roles, 'ADMIN')}">
                                                            <div>
                                                                <label for="makeAdmin">Выдать права
                                                                    администратора</label>
                                                                <input class="form-control" id="makeAdmin"
                                                                       name="makeAdmin"
                                                                       th:field="*{makeAdmin}"
                                                                       type="checkbox">
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             th:if="${userUpdating?.getIsLocked() == false && userUpdating.getId() != #authentication.getPrincipal().getId()}">
                                                            <div>
                                                                <label for="markBanned" style="color:red">Заблокировать
                                                                    учетную запись</label>
                                                                <input class="form-control" id="markBanned"
                                                                       name="markBanned" onchange="handleChange()"
                                                                       th:field="*{markBanned}" type="checkbox">
                                                                <label for="banDate" hidden id="banDateLabel">Время
                                                                    блокировки</label>
                                                                <input class="form-control" hidden id="banDate"
                                                                       name="banDate" th:field="*{dateTimeLocal}"
                                                                       type="datetime-local">
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             th:if="${userUpdating?.getIsLocked() == true}">
                                                            <div>
                                                                <label for="unban">Разблокировать учетную запись</label>
                                                                <input class="form-control" id="unban" name="unban"
                                                                       th:default="checked" th:field="*{markUnbanned}"
                                                                       type="checkbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p><input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
                                                          type="hidden"/></p>
                                                <div class="regbtn">
                                                    <button class="btn btn-success" type="submit">Подтвердить</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{~/js/adminEditProfile.js}"></script>
<footer th:replace="footer :: foot"></footer>
</body>
</html>