<!DOCTYPE html>
<html lang="ru" style="overflow-x: hidden;" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <div th:replace="header::links"></div>
</head>
<body>
<header th:replace="header::head"></header>
<div class="container-fluid img">
    <div class="row d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-md-center"
         style="margin: 0px;">
        <div class="col-sm-6 col-md-5 col-lg-3 col-xl-2 profile_card" style="margin: 100px;">
            <div class="text-center" th:if="${message != null}">
                <p class="text-danger" th:text="${message}"></p>
            </div>
            <form th:action="@{/changeForgotPassword/{token}(token=${token})}" th:if="${message == null}"
                  th:method="post" th:name="updateForm" th:object="${changePassword}">
                <div class="row d-flex  justify-content-center align-items-center"
                     style="margin: 3px;">
                    <div class="col-12 offset-0 text-center user_profile_friends">
                        <div class="row">
                            <div class="col"><span style="font-size: 20px;">Введите новый пароль</span></div>
                        </div>
                        <div class="row d-flex justify-content-center" style="margin-top: 20px;">
                            <div class="col">
                                <input class="form-control" name="password" placeholder="Введите пароль"
                                       style="width: 100%;" th:field="*{password}"
                                       type="password">
                                <input class="form-control" name="confirmPassword" placeholder="Подтвердите пароль"
                                       style=" width: 100%; margin-top: 20px" th:field="*{confirmPassword}"
                                       type="password">
                            </div>
                        </div>
                        <div class="col-xl-12 offset-xl-0 text-center" style="margin-top: 10px;margin-bottom: 30px;">
                            <input class="btn btn-success" th:value="'Сохранить'" type="submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="footer::foot"></div>
</body>
</html>