<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer-basic" th:fragment="foot">
    <footer>
        <div class="social">
            <a href="#">
                <i class="fa fa-star fa-vk"></i>
            </a>
            <a href="https://github.com/ReDF-d/BlinkTalk" target="_blank">
                <i class="fa fa-star fa-github icon"></i>
            </a>
            <a href="#">
                <i class="fa fa-star fa-instagram"></i>
            </a>
        </div>
        <div class="row">
            <div class="col text-center" style="padding-top: 5px;"><a class="rules" th:href="@{/terms}">Правила
                пользования</a></div>
        </div>
        <p class="copyright">BlinkTalk © 2020</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script th:src="@{~/js/script.min.js}"></script>
        <script th:src="@{~/js/searchValidate.js}"></script>
        <script th:src="@{~/js/notificationHub.js}"></script>
    </footer>
</div>
</body>
</html>