<!DOCTYPE html>
<html lang="ru" style="overflow-x: hidden;" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Забыли пароль?</title>
    <div th:replace="header::links"></div>
</head>
<body>
    <header th:replace="header::head"></header>
        <div class="container-fluid img">
            <div class="row d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-md-center"
                 style="margin: 0px;">
                <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 offset-md-3 profile_card" style="margin: 100px;">
                    <form enctype="multipart/form-data"
                          th:action="@{/user/edit}"
                          th:method="post"
                          th:name="updateForm">
                        <div class="row d-flex  justify-content-center align-items-center"
                             style="margin: 3px;">
                            <div class="col-12 offset-0 text-center user_profile_friends">
                                <div class="row">
                                    <div class="col"><span style="font-size: 20px;">Введите почту для восстановления пароля</span></div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col">
                                        <input class="form-control" style="width: 90%;" id="email" name="login" placeholder="example@email.com"
                                               type="text">
                                    </div>
                                </div>
                            <div class="col-xl-12 offset-xl-0 text-center" style="margin-top: 10px;margin-bottom: 30px;">
                                <input class="btn btn-success" th:value="'Отправить'" type="submit">
                            </div>
                         </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div th:replace="footer::foot"></div>
</body>
</html>